html {
  overflow: hidden;
}

body {
  background-image: url("/images/dark-honeycomb.png");
}

.welcome {
  background-color: rgba(255, 255, 255, 0.3);
}

.options-card header {
  background-color: blueviolet;
}

.options-card header p {
  color: white;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
}

.options-card:hover {
  border: 2px solid blue;
  border-radius: 0.5rem;
}

#hobbies {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/circle-blues.png");
  background-repeat: repeat;
  border-top: 30px solid black;
  border-bottom: 30px solid black;
}

#hobbies header {
  font-size: 45px;
  font-family: MonsterSouth;
  color: darkorange;
  background-color: rgb(3, 3, 3);
  width: 30px;
  border-radius: 0.3rem;
  text-align: center;
  box-shadow: 0 0 10px;
}

#hobbies .card {
  border-radius: 0px;
  border: 2px solid black;
  margin-left: 2px;
  padding: 2px;
  background-color: slategray;
}

#hobbies h2 {
  position: absolute;
  padding: 3px;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 0 0 0.35rem 0rem;
  color: white;
}

#pets {
  background-image: url("/images/About\ Me/Cats/KittyPattern.jpg");
  background-repeat: repeat;
}

#pets .card {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2.5rem;
}

#pets p {
  font-family: KittenKlub;
  font-size: 37px;
  color: white;
}

#pets h6 {
  color: white;
  font-family: fantasy;
  font-size: 29px;
  -webkit-text-stroke: 0.5px black;
  text-align: center;
}

#sidney {
  background-color: rgb(3, 180, 180);
}

#freya {
  background-color: rgb(149, 155, 236);
}

#kiona {
  background-color: pink;
}

#goals h3,
#goals h4 {
  color: white;
}

#goals blockquote {
  border-radius: 0.8rem;
  font-size: 22.5px;
  font-family: SemiCoder;
}

#music {
  background-color: rgb(27, 7, 37);
  border-top: 10px solid rgb(82, 5, 155);
  border-bottom: 10px solid rgb(82, 5, 155);
}

.has-background-success {
  background-image: linear-gradient(to right, black, green);
}

.has-background-link {
  background-image: linear-gradient(to right, rgb(0, 0, 0), blue);
}

.has-background-warning {
  background-image: linear-gradient(to right, black, gold);
}

#music .is-child {
  border: 4px solid rgb(82, 5, 155);
}

#music p {
  color: white;
}

#music h2 {
  width: 100%;
  padding: 6px;
  font-size: 42px;
  font-style: italic;
  color: gold;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1.2rem;
}

#love {
  background-color: midnightblue;
}

@font-face {
  font-family: MonsterSouth;
  src: url("/fonts/Monster\ of\ South\ hollow\ St.ttf") format("truetype");
}

@font-face {
  font-family: KittenKlub;
  src: url("/fonts/AustieBostKittenKlub.ttf") format("truetype");
}

@font-face {
  font-family: SongforJenniferBold;
  src: url("/fonts/a\ song\ for\ jennifer\ bold.ttf") format("truetype");
}

@font-face {
  font-family: SongforJennifer;
  src: url("/fonts/a\ song\ for\ jennifer.ttf") format("truetype");
}
